*{
    box-sizing: border-box ;
    margin: 0px;
    padding: 0px;
}
 body{
     background-color: #b3b3b3;
     height: 100vh;
     display: flex;
     align-items: center;
     font-family: "Inter";
}

.container {
    width: 375px;
    height: 550px;
    margin: auto;
    border: 0x;
    padding: 40px 40px 40px 40px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    gap: 24px;

     .proflie-container{
        display: flex;
        justify-content: center;
        img{
           width: 174.38px;
           height: 180px;
           object-fit: cover;
           border-radius: 999px;
        }
    }
     .name-container {
       h1{
          color: black;
          text-align: center;
          font-weight: 700;
          line-height: 150%;

        } 
    }
    .des-container {
       p{
          color: black;
          text-align: center;
        }
    }

    .socai-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        a{
            background-color: #FF6464;
            color: white;
            text-align: center;
            text-decoration: none;
            width: 208px;
            height: 47px;
            padding: 12px;
            border-radius: 0px;
            font-size: 20px;
            font-weight: 0
        }
    }
}


.recent-posts-section {
  background-color: #edf7fa;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;  
  margin-top: 60px;
  width: 500px;
  height: 700px;

}
.container {
  width: 100%;
  max-width: 500px;
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  color: #21243D;
  margin-bottom: 20px;
}

.post-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.post-title {
  font-size: 24px;
  font-weight: 700;
  color: #21243D;
  margin: 0 0 15px 0;
  line-height: 1.3;
}

.post-meta {
  font-size: 16px;
  color: #21243D;
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.divider {
  color: #000;
  font-weight: 300;
}

.post-description {
  font-size: 16px;
  color: #21243D;
  line-height: 1.5;
  margin: 0;
}
